body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: deepskyblue;
    min-width: 100%;
}

header img {
    max-width: 60px;
    max-height: 60px;
    margin-left: 10px;
}

header h2 {
    margin: 0;
    align-self: center;
}

.weather-management {
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: 2px solid black;
    background-color: deepskyblue;
}

.search-city {
    display: flex;
    max-height: 40px;
    gap: 2rem;
}

.search-city input {
    border-radius: 4px;
    border-color: rgba(128, 128, 128, 0.300);
    box-shadow: 5px 5px 7px -5px #000000;
    transition: border-color 1s ease 0s;
}

.search-city input:hover {
    border-color: rgba(128, 128, 128);
}

.search-city button {
    background-color: transparent;
    cursor: pointer;
    border-color: transparent;
    transition: background-color 0.5s ease 0s;
}

.search-city button:hover {
    background-color: red;
    cursor: pointer;
}

.notification {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 10%;
    min-height: 25px;
    background-color: red;
    border-radius: 20px;
    animation-duration: 1s;
    animation-name: slide-in;
}

.notification-out {
    animation-duration: 1s;
    animation-name: slide-out;
}

.fetch-return {
    animation-duration: 2s;
    animation-name: fadeIn;
}

@keyframes slide-in {
    from {
        margin-right: 100%;
    }

    to {
        margin-left: 100%;
    }
}

@keyframes slide-out {
    from {
        margin-left: 100%;
    }

    to {
        margin-right: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}